bleach==6.2.0
Faker==37.4.2
Flask==3.1.1
Flask_SeaSurf==2.0.0
flask_sqlalchemy==3.1.1
flask_wtf==1.2.2
grammarinator==23.7
html_sanitizer==2.6.0
itsdangerous==2.2.0
lxml==6.0.0
MarkupSafe==3.0.2
pytest==8.4.1
SQLAlchemy==2.0.41
Werkzeug==3.1.3
